.container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.2s ease-in-out;

  &:focus-within {
    color: var(--black);

    .label {
      &.error {
        color: var(--red);
      }
    }
  }
}

.label {
  margin-bottom: 6px;
  font-weight: 500;

  &.error {
    color: var(--red);
  }
}

.inputWrapper {
  position: relative;
}

.input {
  height: 56px;
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.2s ease-in-out;

  &:focus {
    border: 1px solid var(--black);
  }

  &::placeholder {
    color: var(--gray-dark);
  }

  &.error {
    border-color: var(--red);

    &:focus {
      border-color: var(--red);
    }

    &:hover:not(:focus):not(:disabled) {
      border-color: var(--red);
    }
  }
}

.errorMessage {
  margin-top: 2px;
  color: var(--red);
  font-size: 12px;
  line-height: 15px;
  word-wrap: break-word;
}
